{%load static%}
<!DOCTYPE html>
<html translate="no">
    <head>
        <title>日本語 漢字</title>
        <meta name="google" content="notranslate">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@900&display=swap" rel="stylesheet">
    </head>
    <body class="ml-3 mr-3" style="font-family: 'Noto Serif JP', serif;">
        <h3 class="text-success text-left font-weight-light mt-2 ml-3">日本語</h3>
        
        <hr>
        <h3 class="text-center mt-2 font-weight-light pb-3">漢字一覧</h3>
        <div class="row justify-content-center">
            
            <div class="container-fluid shadow-lg p-3 mb-5 bg-white rounded col-xl-2 col-md-3">
                <h1 class="text-center bg-info mt-3 p-2" style="margin: 0;">日</h1>
                <p class="text-center bg-info mb-1"><small>Ni</small></p>
                <p class="text-center text-primary"><small><em>meaning - sun</em></small></p>
                <div class="row justify-content-center">
                    <button class="btn btn-outline-danger mt-1 mr-1">リビジョン</button>
                    <button class="btn btn-outline-success mt-1">よく学んだ</button>
                </div>
            </div>
            <div class="container-fluid shadow-lg p-3 mb-5 bg-white rounded col-xl-2 col-md-3">
                <h1 class="text-center bg-info mt-3 p-2" style="margin: 0;">週</h1>
                <p class="text-center bg-info mb-1"><small>shuu</small></p>
                <p class="text-center text-primary"><small><em>meaning - week</em></small></p>
                <div class="row justify-content-center">
                    <button class="btn btn-outline-danger mt-1 mr-1">リビジョン</button>
                    <button class="btn btn-outline-success mt-1">よく学んだ</button>
                </div>
            </div>
            <div class="container-fluid shadow-lg p-3 mb-5 bg-white rounded col-xl-2 col-md-3">
                <h1 class="text-center bg-info mt-3 p-2" style="margin: 0;">月</h1>
                <p class="text-center bg-info mb-1"><small>getsu/gatsu</small></p>
                <p class="text-center text-primary"><small><em>meaning - month</em></small></p>
                <div class="row justify-content-center">
                    <button class="btn btn-outline-danger mt-1 mr-1">リビジョン</button>
                    <button class="btn btn-outline-success mt-1">よく学んだ</button>
                </div>
            </div>
            <div class="container-fluid shadow-lg p-3 mb-5 bg-white rounded col-xl-2 col-md-3">
                <h1 class="text-center bg-info mt-3 p-2" style="margin: 0;">年</h1>
                <p class="text-center bg-info mb-1"><small>nen</small></p>
                <p class="text-center text-primary"><small><em>meaning - year</em></small></p>
                <div class="row justify-content-center">
                    <button class="btn btn-outline-danger mt-1 mr-1">リビジョン</button>
                    <button class="btn btn-outline-success mt-1">よく学んだ</button>
                </div>
            </div>
            <div class="container-fluid shadow-lg p-3 mb-5 bg-white rounded col-xl-2 col-md-3">
                <h1 class="text-center bg-info mt-3 p-2" style="margin: 0;">時</h1>
                <p class="text-center bg-info mb-1"><small>ji</small></p>
                <p class="text-center text-primary"><small><em>meaning - time/hour</em></small></p>
                <div class="row justify-content-center">
                    <button class="btn btn-outline-danger mt-1 mr-1">リビジョン</button>
                    <button class="btn btn-outline-success mt-1">よく学んだ</button>
                </div>
            </div>
            
        </div>


        <div class="row justify-content-center">
            
            <div class="container-fluid shadow-lg p-3 mb-5 bg-white rounded col-xl-2 col-md-3">
                <h1 class="text-center bg-info mt-3 p-2" style="margin: 0;">間</h1>
                <p class="text-center bg-info mb-1"><small>kan/ken</small></p>
                <p class="text-center text-primary"><small><em>meaning - time frame</em></small></p>
                <div class="row justify-content-center">
                    <button class="btn btn-outline-danger mt-1 mr-1">リビジョン</button>
                    <button class="btn btn-outline-success mt-1">よく学んだ</button>
                </div>
            </div>
            <div class="container-fluid shadow-lg p-3 mb-5 bg-white rounded col-xl-2 col-md-3">
                <h1 class="text-center bg-info mt-3 p-2" style="margin: 0;">分</h1>
                <p class="text-center bg-info mb-1"><small>bun</small></p>
                <p class="text-center text-primary"><small><em>meaning - minute/divide</em></small></p>
                <div class="row justify-content-center">
                    <button class="btn btn-outline-danger mt-1 mr-1">リビジョン</button>
                    <button class="btn btn-outline-success mt-1">よく学んだ</button>
                </div>
            </div>
            <div class="container-fluid shadow-lg p-3 mb-5 bg-white rounded col-xl-2 col-md-3">
                <h1 class="text-center bg-info mt-3 p-2" style="margin: 0;">午</h1>
                <p class="text-center bg-info mb-1"><small>go</small></p>
                <p class="text-center text-primary"><small><em>meaning - noon</em></small></p>
                <div class="row justify-content-center">
                    <button class="btn btn-outline-danger mt-1 mr-1">リビジョン</button>
                    <button class="btn btn-outline-success mt-1">よく学んだ</button>
                </div>
            </div>
            <div class="container-fluid shadow-lg p-3 mb-5 bg-white rounded col-xl-2 col-md-3">
                <h1 class="text-center bg-info mt-3 p-2" style="margin: 0;">前</h1>
                <p class="text-center bg-info mb-1"><small>zen</small></p>
                <p class="text-center text-primary"><small><em>meaning - before</em></small></p>
                <div class="row justify-content-center">
                    <button class="btn btn-outline-danger mt-1 mr-1">リビジョン</button>
                    <button class="btn btn-outline-success mt-1">よく学んだ</button>
                </div>
            </div>
            <div class="container-fluid shadow-lg p-3 mb-5 bg-white rounded col-xl-2 col-md-3">
                <h1 class="text-center bg-info mt-3 p-2" style="margin: 0;">後</h1>
                <p class="text-center bg-info mb-1"><small>go/kou</small></p>
                <p class="text-center text-primary"><small><em>meaning - after/later</em></small></p>
                <div class="row justify-content-center">
                    <button class="btn btn-outline-danger mt-1 mr-1">リビジョン</button>
                    <button class="btn btn-outline-success mt-1">よく学んだ</button>
                </div>
            </div>
            
        </div>


        <div class="row justify-content-center">
            
            <div class="container-fluid shadow-lg p-3 mb-5 bg-white rounded col-xl-2 col-md-3">
                <h1 class="text-center bg-info mt-3 p-2" style="margin: 0;">日</h1>
                <p class="text-center bg-info mb-1"><small>Ni</small></p>
                <p class="text-center text-primary"><small><em>meaning - sun</em></small></p>
                <div class="row justify-content-center">
                    <button class="btn btn-outline-danger mt-1 mr-1">リビジョン</button>
                    <button class="btn btn-outline-success mt-1">よく学んだ</button>
                </div>
            </div>
            <div class="container-fluid shadow-lg p-3 mb-5 bg-white rounded col-xl-2 col-md-3">
                <h1 class="text-center bg-info mt-3 p-2" style="margin: 0;">日</h1>
                <p class="text-center bg-info mb-1"><small>Ni</small></p>
                <p class="text-center text-primary"><small><em>meaning - sun</em></small></p>
                <div class="row justify-content-center">
                    <button class="btn btn-outline-danger mt-1 mr-1">リビジョン</button>
                    <button class="btn btn-outline-success mt-1">よく学んだ</button>
                </div>
            </div>
            <div class="container-fluid shadow-lg p-3 mb-5 bg-white rounded col-xl-2 col-md-3">
                <h1 class="text-center bg-info mt-3 p-2" style="margin: 0;">日</h1>
                <p class="text-center bg-info mb-1"><small>Ni</small></p>
                <p class="text-center text-primary"><small><em>meaning - sun</em></small></p>
                <div class="row justify-content-center">
                    <button class="btn btn-outline-danger mt-1 mr-1">リビジョン</button>
                    <button class="btn btn-outline-success mt-1">よく学んだ</button>
                </div>
            </div>
            <div class="container-fluid shadow-lg p-3 mb-5 bg-white rounded col-xl-2 col-md-3">
                <h1 class="text-center bg-info mt-3 p-2" style="margin: 0;">日</h1>
                <p class="text-center bg-info mb-1"><small>Ni</small></p>
                <p class="text-center text-primary"><small><em>meaning - sun</em></small></p>
                <div class="row justify-content-center">
                    <button class="btn btn-outline-danger mt-1 mr-1">リビジョン</button>
                    <button class="btn btn-outline-success mt-1">よく学んだ</button>
                </div>
            </div>
            <div class="container-fluid shadow-lg p-3 mb-5 bg-white rounded col-xl-2 col-md-3">
                <h1 class="text-center bg-info mt-3 p-2" style="margin: 0;">日</h1>
                <p class="text-center bg-info mb-1"><small>Ni</small></p>
                <p class="text-center text-primary"><small><em>meaning - sun</em></small></p>
                <div class="row justify-content-center">
                    <button class="btn btn-outline-danger mt-1 mr-1">リビジョン</button>
                    <button class="btn btn-outline-success mt-1">よく学んだ</button>
                </div>
            </div>
            
        </div>


        <div class="row justify-content-center">
            
            <div class="container-fluid shadow-lg p-3 mb-5 bg-white rounded col-xl-2 col-md-3">
                <h1 class="text-center bg-info mt-3 p-2" style="margin: 0;">日</h1>
                <p class="text-center bg-info mb-1"><small>Ni</small></p>
                <p class="text-center text-primary"><small><em>meaning - sun</em></small></p>
                <div class="row justify-content-center">
                    <button class="btn btn-outline-danger mt-1 mr-1">リビジョン</button>
                    <button class="btn btn-outline-success mt-1">よく学んだ</button>
                </div>
            </div>
            <div class="container-fluid shadow-lg p-3 mb-5 bg-white rounded col-xl-2 col-md-3">
                <h1 class="text-center bg-info mt-3 p-2" style="margin: 0;">日</h1>
                <p class="text-center bg-info mb-1"><small>Ni</small></p>
                <p class="text-center text-primary"><small><em>meaning - sun</em></small></p>
                <div class="row justify-content-center">
                    <button class="btn btn-outline-danger mt-1 mr-1">リビジョン</button>
                    <button class="btn btn-outline-success mt-1">よく学んだ</button>
                </div>
            </div>
            <div class="container-fluid shadow-lg p-3 mb-5 bg-white rounded col-xl-2 col-md-3">
                <h1 class="text-center bg-info mt-3 p-2" style="margin: 0;">日</h1>
                <p class="text-center bg-info mb-1"><small>Ni</small></p>
                <p class="text-center text-primary"><small><em>meaning - sun</em></small></p>
                <div class="row justify-content-center">
                    <button class="btn btn-outline-danger mt-1 mr-1">リビジョン</button>
                    <button class="btn btn-outline-success mt-1">よく学んだ</button>
                </div>
            </div>
            <div class="container-fluid shadow-lg p-3 mb-5 bg-white rounded col-xl-2 col-md-3">
                <h1 class="text-center bg-info mt-3 p-2" style="margin: 0;">日</h1>
                <p class="text-center bg-info mb-1"><small>Ni</small></p>
                <p class="text-center text-primary"><small><em>meaning - sun</em></small></p>
                <div class="row justify-content-center">
                    <button class="btn btn-outline-danger mt-1 mr-1">リビジョン</button>
                    <button class="btn btn-outline-success mt-1">よく学んだ</button>
                </div>
            </div>
            <div class="container-fluid shadow-lg p-3 mb-5 bg-white rounded col-xl-2 col-md-3">
                <h1 class="text-center bg-info mt-3 p-2" style="margin: 0;">日</h1>
                <p class="text-center bg-info mb-1"><small>Ni</small></p>
                <p class="text-center text-primary"><small><em>meaning - sun</em></small></p>
                <div class="row justify-content-center">
                    <button class="btn btn-outline-danger mt-1 mr-1">リビジョン</button>
                    <button class="btn btn-outline-success mt-1">よく学んだ</button>
                </div>
            </div>
            
        </div>

    </body>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
</html>